# Script outputs
/scripts/**/out

# Private folders
/__**

# Private files
/_*

# This isn't done yet.
/doc

# Plugin dev files. Due to how the installer works, these must be ignored.
# If you want these files, ask me.
/log
/src/.vscode/plugin/docs
/src/.vscode/plugin/plugin-debug.lua
/.plugin.*.lua

# Used for testing.
/script.lua
/avatar.json

# WIP
/scripts/installer
